.no-flexbox .post-content:after {
  content: " ";
  display: block;
  clear: both; }@media (min-width: 580px) {
    .no-flexbox .post-excerpt {
      padding-left: 212px; } }.no-flexbox .post-thumbnail {
    overflow: hidden; }@media (min-width: 580px) {
    .no-flexbox .single_post-header {
      text-align: left; }
      .no-flexbox .single_post-header:after {
        content: " ";
        display: block;
        clear: both; } }@media (min-width: 580px) {
    .no-flexbox .single_post-thumbnail {
      float: left;
      width: 200px; } }@media (min-width: 580px) {
  .no-flexbox .single_post-header_content {
    padding-left: 212px;
    padding-top: 16px; } }.no-flexbox .share:after {
    content: " ";
    display: block;
    clear: both; }.no-flexbox .share-item {
    float: left; }.no-flexbox .share-item_link {
    display: inline-block; }@media (min-width: 880px) {
      .no-flexbox .share-item_link {
        width: 138.33333px; } }
