.post-iframe_placeholder--tommy {
  height: 600px;
  margin: 30px 0;
}

.post-iframe_wrapper--tommy {
  position: relative;
  height: 600px;
  background-color: #7b81b2;
  background-image: url('../img/tommy-logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px 150px;
}

.post-iframe_wrapper--tommy .action-button {
  background-color: #ffad33;
  border: solid 1px #d18515;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,0.2);
  color: #eee;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  right: 15px;
  top: 9px;
  transition: opacity 200ms;
  transition-delay: 500ms;
}

.post-iframe_wrapper--tommy:hover .action-button {
  opacity: 0.8;
  transition-delay: 0ms;
}

.post-iframe_wrapper--tommy .action-button:hover {
  opacity: 1;
}

.post-iframe_wrapper--tommy .action-button:active {
  opacity: 0.8;
}

.post-iframe_wrapper--tommy:not(.is-expanded) .for-compress {
  visibility: hidden;
}

.post-iframe_wrapper--tommy.is-expanded .for-expand {
  visibility: hidden;
}

.post-iframe_wrapper--tommy .fa.is-hidden {
  display: none;
}

.post-iframe--tommy {
  border: 0;
  height: 100%;
  width: 100%;
}

.post-iframe_wrapper--tommy.is-expanded {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
}
