{{!< default}}

<section class="main">
  <header class="error-header">
    <img class="error-image" src="{{asset "img/dog.jpeg"}}" alt="a sad dog"/>
    <h1 class="error-title">{{message}}</h1>
    <h2 class="error-subtitle">{{code}}</h2>
  </header>

</section>
