{{!< default}}

<section class="main">
  {{#post}}
  <article id="page-{{id}}">
  	<header class="single_post-header">
      <div class="single_post-header_content">
        <h1 class="single_post-title">{{title}}</h1>
      </div>
    </header>

  	{{content}}
  </article>
  {{/post}}
</section>

