{{!< default}}

<section class="main">
  <header class="category-header">
    <div class="category-header_content">
      <h1 class="category-title">
        BDD Course
      </h1>

      <span class="category-description">{{tag.description}}</span>
    </div>
  </header>

  {{> postlist}}
</section>
