{{!< default}}

<section class="main">
  <header class="category-header">
    <div class="category-header_content">
      <h1 class="category-title">
        <span class="category-title_prefix">Posts in category</span>
        {{tag.name}}
      </h1>
    </div>
  </header>

  {{> postlist}}

  {{pagination}}
</section>

